.main-navbar {
    height: 70px;
    background-color: #266192;
    display: flex;
    align-items: center;
    text-align: center;
}

.logo {
    display: block;
    margin-left: auto;
    height: 100px;
    width: 100px;
}

.logo-text {
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    display: block;
    margin-right: auto;
}

.logo:hover {
    height: 110px;
    width: 110px;
}

.contato-div {
    position: absolute;
    height: 70px;
    width: 100%;
    text-align: right;
}

.contato {
    margin-right: 5px;
    background-color: #ffffff00;
    color: rgb(255, 255, 255);
}