@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.select {
  margin-right: 80px;
  margin-left: 80px;
}

.escolha-select {
  margin-left: 10px;
  font-size: 15px;
  color: rgb(83, 83, 83);
}